<%- include('include/head.ejs')%>
    <title>Chat Room - Kokoa Talk</title>
    <script src="/js/common/jquery-3.6.0.min.js"></script>
</head>
<body id="chat-screen">
    <%- include('include/status_bar.ejs')%>
    <header class="alt-header">
        <div class="alt-header__column">
            <a href="/chat/list"><i class="fas fa-angle-left fa-2x"></i></a>   
        </div>
        <div id="chat_title" class="alt-header__column">
            <!-- <h1 class="alt-header__title">friendNick</h1> -->
        </div>
        <div class="alt-header__column">
            <span><i class="fas fa-search fa-lg"></i></span>
            <span><i class="fas fa-bars fa-lg"></i></span>

        </div>
    </header>
    <div id="friendInfo"  channelId="<%=channelId%>" channelType="<%=channelType%>"userId="<%=userId%>" friendId="<%=friendId%>"
        class="hidden">
    </div>
    <main id="personal-chat" class="main-screen main-chat">
        <ul id="messages" class="chatting-list" >
            <!-- <div class="chat__timestamp"> Monday, Desember 13, 2021</div> -->
           
            <!-- <li class="message-row">
                <img src="#" alt="">
                <div class="message-row__content">
                    <span class="message__friend">butter</span>
                    <div class="message__info">
                        <span class="message__bubble">하드코딩</span>
                        <span class="message__time">05:11 pm</span>
                    </div>
                </div>
            </li>        
            <li class="message-row message-row-owner">
                <div class="message-row__content">
                    <div class="message__info">
                        <span class="message__bubble">하드코딩</span>
                        <span class="message__time">05:11 pm</span>
                    </div>
                </div>
            </li>          -->
        </ul> 
    </main>  

    <form id="message-form">
        <div class="message-form__coulum">
            <i class="far fa-plus-square fa-lg"></i>
        </div>
        <div class="message-form__coulum">
            <input id="message-input" autocomplete="off" type="text" placeholder="Write a message"/>
            <i class="far fa-smile-wink"></i>
            <button>
                <i class="fas fa-arrow-up"></i>
            </button>
        </div>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat-room.js" type="text/javascript"></script>
<%- include('include/tail.ejs')%>
