<%- include('include/head.ejs')%>
    <title>Chats - Kokoa Talk</title>
</head>
<body>
    <%- include('include/status_bar.ejs')%>
    <header class="screen-header">
        <h1 class="screen-header__title">Chats</h1>
        <div class="screen-header__icons">
            <span> <i class="fas fa-search fa-lg"></i></span>
            <span><i class="far fa-comment-dots fa-lg"></i></span>
            <span><i class="fas fa-music fa-lg"></i></span>
            <span><i class="fas fa-cog fa-lg"></i></span>
        </div>
    </header>
    <main class="main-screen">
    <%for(let i=0; i<friendsData.length; i++){%> 
        <a href="/chat/room/:<%=friendsData[i]['_id']%>">                      
            <div class="main__list-component list-reapeat">
                <div class="main__list-component__column">
                    <img src="<%=friendsData[i]['profileImg']%>" 
                        class="main__list__profile"/>
                    <div class="main__list__text">
                        <h4 class="main__list__title stress"><%=friendsData[i]['userNick']%></h4>
                        <h6 class="main__list____subtitle">Please check your Kokoa Account Info</h6>
                    </div>
                </div>
                <div class="main__list-component__column chat_list">
                    <span class="main__list-component__time">21:22</span>
                    <span class="badge">1</span>
                </div>
            </div>
        </a>
    <%}%> 
    </main>

    <%- include('include/tabbar.ejs')%>
     
<%- include('include/tail.ejs')%>