<%- include('include/head.ejs')%>
    <title>Friends - Kokoa Talk</title>
</head>
<body>
    <%- include('include/status_bar.ejs')%>
    <header class="screen-header">
        <h1 class="screen-header__title">Friends</h1>
        <div class="screen-header__icons">
            <span> <i class="fas fa-search fa-lg"></i></span>
            <span><i class="fas fa-music fa-lg"></i></span>
            <span><i class="fas fa-cog fa-lg"></i></span>
        </div>
    </header>
    <a id="friends-display-link">
        <i class="fas fa-info-circle"></i>Friends' Names Display
        <i class="fas fa-chevron-right fa-xs"></i>
    </a>
    <main class="main-screen">
        <div class="user-component">
            <div class="user-component__column">
                <img src="<%=profileImg%>" 
                     class="user-component__profile user-component__profile--xl"/>
                <div class="user-component__text">
                    <h4 class="user-component__title"><%=userNick%></h4>
                    <!-- <h6 class="user-component__subtitle">this text whatever</h6> -->
                </div>
            </div>
            <div class="user-component__column"></div>
        </div>
        <div class="main__list">
            <div class="main__list-header">
                <span>Channel</span>
                <a id="main__list-chevron-up" class="hidden"><i class="fas fa-chevron-up fa-xs"></i></a>
                <a id="main__list-chevron-down"><i class="fas fa-chevron-down fa-xs"></i></a>
            </div>
        </div>
        <div id="main_list" class="main__list-component">
            <div class="main__list-component__column">
                <img src="/public/images/channel-icon.png" 
                     class="main__list__profile"/>
                <div class="main__list__text">
                    <h4 class="main__list__title">Channel</h4>
                </div>
            </div>
            <div class="main__list-component__column">
                <span>2</span>
                <i class="fas fa-chevron-right fa-xs"></i>
            </div>
        </div>
        <div class="main__list">
            <div class="main__list-header-freinds">
                <span>Friends</span>
                <span><%=friendsCount%></span>
                <a id="main__list-chevron-up" class="hidden"><i class="fas fa-chevron-up fa-xs"></i></a>
                <a id="main__list-chevron-down"><i class="fas fa-chevron-down fa-xs"></i></a>
            </div>
        </div>
       <%for(let i=0; i<friends.length; i++){%> 
       <div id="main_list" class="main__list-component list-reapeat hidden">
            <div class="main__list-component__column">
                <img id="friend-profile"src="<%=friends[i]['profileImg']%>" 
                     class="main__list__profile"/>
                <div class="main__list__text">
                    <h4 id="friend-nick" class="main__list__title"><%=friends[i]['userNick']%></h4>
                    <h6 class="main__list__profile__subtitle">this text whatever</h6>
                </div>
            </div>
        </div>
        <%}%> 
    </main>
    <%- include('include/tabbar.ejs')%>
    <!-- <div id="splash-screen">
        <i class="fas fa-comment"></i>
    </div> -->
    <script src="/js/common/chevron.js"></script>
<%- include('include/tail.ejs')%>