<%- include('include/head.ejs')%>
    <title>More - Kokoa Talk</title>
</head>
<body>
    <%- include('include/status_bar.ejs')%>
    <header class="screen-header">
        <h1 class="screen-header__title">More</h1>
        <div class="screen-header__icons">
            <span> <i class="fas fa-search fa-lg"></i></span>
            <span><i class="fas fa-music fa-lg"></i></span>
            <span><a href="/setting"><i class="fas fa-cog fa-lg"></i></a></span>
        </div>
    </header>
    <main class="main-screen more-screen">
        <div class="main__list-component">
            <div class="main__list-component__column">
                <img src="<%=profileImg%>" 
                     class="main__list__profile"/>
                <div class="main__list__text">
                    <h4 class="main__list__title stress"><%=userNick%></h4>
                    <h6 class="main__list__profile__subtitle"><%=userEmail%></h6>
                </div>
            </div>
            <div class="main__list-component__column">
                <i class="far fa-comment-alt fa-2x"></i>
            </div>
        </div>
        <div class="icon-row more-icon-row">
            <div class="icon-row__icon">
                <i class="far fa-calendar"></i>
                <span>Calendar</span>
            </div>
            <div class="icon-row__icon">
                <i class="far fa-address-book"></i>
                <span>Talk Drive</span>
            </div>
            <div class="icon-row__icon">
                <i class="far fa-smile-beam"></i>
                <span>Emoticons</span>
            </div>
            <div class="icon-row__icon">
                <i class="fas fa-paint-roller"></i>
                <span>Themes</span>
            </div>
            <div class="icon-row__icon">
                <i class="fas fa-file-invoice-dollar"></i>
                <span>Account</span>
            </div>
            <div class="icon-row__icon">
                <i class="far fa-comments"></i>
                <span>Open Chat</span>
            </div>
        </div>
        <div class="more-suggestions">
            <h4 class="more-suggestions__title stress">Suggestions</h4>
            <div class="more-suggestions__icons more-icon-row">
                <div class="more-suggestions__icon">
                    <div class="more-suggestions__icon-image">
                        <i class="fas fa-quote-right"></i>
                    </div>
                    <span class="more-suggestions__icon-text">Kokoa</br>Story</span>
                </div>
                <div class="more-suggestions__icon">
                    <div class="more-suggestions__icon-image">
                        <i class="fas fa-gamepad"></i>
                    </div>
                    <span class="more-suggestions__icon-text">Kokoa</br>games</span>
                </div>
                <div class="more-suggestions__icon">
                    <div class="more-suggestions__icon-image">
                        <i class="fas fa-taxi"></i>
                    </div>
                    <span class="more-suggestions__icon-text">Kokoa</br>Taxi</span>
                </div>
                <div class="more-suggestions__icon">
                    <div class="more-suggestions__icon-image">
                        <i class="fas fa-music"></i>
                    </div>
                    <span class="more-suggestions__icon-text">Kokoa</br>Music</span>
                </div>
            </div>
        </div>
    </main>

    <%- include('include/tabbar.ejs')%>
     
<%- include('include/tail.ejs')%>