<%- include('include/head.ejs')%>
    <title>MY Profile - Kokoa Talk</title>
</head>
<body id="profile-screen">
    <%- include('include/status_bar.ejs')%>
    <header class="screen-header">
        <div class="screen-header__icons__profile">
            <div class="icons__profile__left">            
                <a href="/friends"><i class="fas fa-times"></i></a>
            </div>
            <div class="icons__profile__right">
                <a><i class="fas fa-gift"></i></a>
                <a><i class="fas fa-music"></i></a>
                <a><i class="fas fa-cog"></i></a>
            </div>
        </div>
    </header>  
    <main class="profile__wrap">  
        <form id="profile-edit-form" action="/user/myProfile/" method="post" enctype="multipart/form-data" >       
            <div class="profile">
                <div class="profile-profileImg">
                    <img src="<%=profileImg%>">
                    <div id="profile-img-btn" class="profile-profileImg__plus hidden">
                        <input id="profile-img" type="file" name="profile-img" class="hidden"/>
                        <label for="profile-img">
                            <i class="fas fa-camera fa-lg"></i>
                        </label>    
                    </div>
                </div>
                <span id="origin-userNick" class="profile-userNick"><%=userNick%></span>  
                <div class="profile-edit__warp">
                    <div id="profile-edit" class="profile-edit__text hidden">
                        <input id="userNick" name="userNick" type="text" placeholder="<%=userNick%>" minlength="2" maxlength="8" />
                        <input id="statusMessage" name="statusMessage" type="text" placeholder="Enter a status message." maxlength="60"/>
                    </div>
                    <div id="profile-edit-btn" class="profile-edit__btn hidden">
                        <input id="profile-btn" name="profile-btn" class="hidden" type="submit">
                        <label id="profile-btn" for="profile-btn">
                            <i class="fas fa-pencil-alt"></i>
                        </label> 
                    </div>     
                </div>                   
            </div>
        </form> 

        <div class="profile-icon__lists">
            <div class="profile-icon__list">
                <i class="fas fa-comment"></i>
                <span class="profile-icon__name">My Chatroom</span>
            </div>
            <div id="profile__edit-btn"class="profile-icon__list">
                <i class="fas fa-pencil-alt"></i>
                <span class="profile-icon__name">Edit Profile</span>
            </div>
            <div class="profile-icon__list">
                <i class="fas fa-quote-right"></i>
                <span class="profile-icon__name">KakaoStroy</span>
            </div>    
        </div>
    </main>   
    <script src="/js/my_profile.js"></script>
<%- include('include/tail.ejs')%>